body {
  padding: 0;
  margin: 0;
  background-color: black;
}
.container {
  height: 400px;
  width: 400px;
  position: relative;
  top: 89%;
  left: 30%;
}
.sun {
  height: 60px;
  width: 60px;
  border: 1px solid transparent;
  border-radius: 50px;
  background: linear-gradient(360deg, #fff3b0, #fdb813, #ff6f00, #ff5e00);
  position: absolute;
  top: 67%;
  left: 50%;
}
.orbit1 {
  height: 220px;
  width: 220px;
  border: 1px solid gainsboro;
  border-radius: 50%;
  position: absolute;
  top: 48%;
  left: 30%;
  animation: move 9s linear infinite;
}
.planet1 {
  height: 20px;
  width: 20px;
  background: linear-gradient(360deg, #d6d6d6, #9e9e9e, #5f5f5f);
  border-radius: 50%;
  border: 1px solid transparent;
  position: absolute;
  top: 20%;
  left: 2%;
}
@keyframes move {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.orbit2 {
  height: 320px;
  width: 320px;
  border: 1px solid gainsboro;
  border-radius: 50%;
  position: absolute;
  top: 35%;
  left: 18%;
  animation: move 7s linear infinite;
}

.planet2 {
  height: 29px;
  width: 29px;
  background: linear-gradient(360deg, #ffe6a7, #e6c07b, #c68642);
  border-radius: 50%;
  border: 1px solid transparent;
  position: absolute;
  top: 20%;
  left: 2%;
}
.orbit3 {
  height: 420px;
  width: 420px;
  border: 1px solid gainsboro;
  border-radius: 50%;
  position: absolute;
  top: 23%;
  left: 5%;
  animation: move 12s linear infinite;
}
.planet3 {
  height: 35px;
  width: 35px;
  background: linear-gradient(360deg, #4fc3f7, #1e3a8a, #0f172a);
  border-radius: 50%;
  border: 1px solid transparent;
  position: absolute;
  top: 20%;
  left: 2%;
}
.orbit4 {
  height: 520px;
  width: 520px;
  border: 1px solid gainsboro;
  border-radius: 50%;
  position: absolute;
  top: 11%;
  left: -7%;
  animation: move 25s linear infinite;
}
.planet4 {
  height: 38px;
  width: 38px;
  background: linear-gradient(360deg, #f97316, #c1440e, #7f1d1d);
  border-radius: 50%;
  border: 1px solid transparent;
  position: absolute;
  top: 20%;
  left: 2%;
}

.orbit5 {
  height: 620px;
  width: 620px;
  border: 1px solid gainsboro;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  left: -20%;
  animation: move 19s linear infinite;
}
.planet5 {
  height: 42px;
  width: 42px;
  background: linear-gradient(360deg, #d8b384, #a97142, #ead7a1, #8b4513);
  border-radius: 50%;
  border: 1px solid transparent;
  position: absolute;
  top: 20%;
  left: 4%;
}
